<a href="https://colab.research.google.com/github/smaranjitghose/PyCorona/blob/master/PyCorona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing some basic dependencies

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
import plotly.graph_objects as go
import plotly as py
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True) 
import warnings
warnings.filterwarnings('ignore')

# Loading our Dataset

Credits:
https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

In [1]:
from google.colab import files
uploaded = files.upload()

Saving 2019_nCoV_data.csv to 2019_nCoV_data.csv

In [4]:

#The parse_dates parameter make sure that the Last Update column is parsed as a date not a string.
df = pd.read_csv("/content/2019_nCoV_data.csv",parse_dates=['Last Update'])
df.head()

   Sno                 Date Province/State  ... Confirmed Deaths  Recovered
0    1  01/22/2020 12:00:00          Anhui  ...       1.0    0.0        0.0
1    2  01/22/2020 12:00:00        Beijing  ...      14.0    0.0        0.0
2    3  01/22/2020 12:00:00      Chongqing  ...       6.0    0.0        0.0
3    4  01/22/2020 12:00:00         Fujian  ...       1.0    0.0        0.0
4    5  01/22/2020 12:00:00          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1719 entries, 0 to 1718
Data columns (total 8 columns):
Sno               1719 non-null int64
Date              1719 non-null object
Province/State    1257 non-null object
Country           1719 non-null object
Last Update       1719 non-null datetime64[ns]
Confirmed         1719 non-null float64
Deaths            1719 non-null float64
Recovered         1719 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 107.6+ KB

In [39]:
df.describe().T

            count        mean          std  min  25%   50%    75%      max
Confirmed  1719.0  454.596859  3712.529032  0.0  2.0  12.0  109.0  59989.0
Deaths     1719.0   10.441536   106.638286  0.0  0.0   0.0    0.0   1789.0
Recovered  1719.0   44.361838   351.078713  0.0  0.0   0.0    7.0   7862.0

## Now, lets find out the countries that fell prey to the Corona Virus

In [13]:
print("Number of countries affected till now:{}".format(len(df['Country'].unique())))

Number of countries affected till now:34

In [12]:
print(df['Country'].unique())

['China' 'US' 'Japan' 'Thailand' 'South Korea' 'Mainland China'
 'Hong Kong' 'Macau' 'Taiwan' 'Singapore' 'Philippines' 'Malaysia'
 'Vietnam' 'Australia' 'Mexico' 'Brazil' 'France' 'Nepal' 'Canada'
 'Cambodia' 'Sri Lanka' 'Ivory Coast' 'Germany' 'Finland'
 'United Arab Emirates' 'India' 'Italy' 'Sweden' 'Russia' 'Spain' 'UK'
 'Belgium' 'Others' 'Egypt']

# An insight into the cases reported in India

In [15]:
df[df['Country']=='India']

       Sno                 Date Province/State  ... Confirmed Deaths  Recovered
432    433  01/30/2020 21:30:00            NaN  ...       1.0    0.0        0.0
491    492  01/31/2020 19:00:00            NaN  ...       1.0    0.0        0.0
552    553  02/01/2020 23:00:00            NaN  ...       1.0    0.0        0.0
611    612  02/02/2020 21:00:00            NaN  ...       2.0    0.0        0.0
675    676  02/03/2020 21:40:00            NaN  ...       3.0    0.0        0.0
745    746  02/04/2020 22:00:00            NaN  ...       3.0    0.0        0.0
815    816  02/05/2020 12:20:00            NaN  ...       3.0    0.0        0.0
885    886  02/06/2020 20:05:00            NaN  ...       3.0    0.0        0.0
958    959  02/07/2020 20:24:00            NaN  ...       3.0    0.0        0.0
1030  1031  02/08/2020 23:04:00            NaN  ...       3.0    0.0        0.0
1102  1103  02/09/2020 23:20:00            NaN  ...       3.0    0.0        0.0
1175  1176  02/10/2020 19:30:00            NaN  ...       3.0    0.0        0.0
1247  1248  02/11/2020 20:44:00            NaN  ...       3.0    0.0        0.0
1320  1321  02/12/2020 22:00:00            NaN  ...       3.0    0.0        0.0
1393  1394  02/13/2020 21:15:00            NaN  ...       3.0    0.0        0.0
1467  1468  02/14/2020 22:00:00            NaN  ...       3.0    0.0        0.0
1542  1543  02/15/2020 22:00:00            NaN  ...       3.0    0.0        0.0
1617  1618  02/16/2020 22:00:00            NaN  ...       3.0    0.0        3.0
1692  1693  02/17/2020 22:00:00            NaN  ...       3.0    0.0        3.0

[19 rows x 8 columns]

# Now lets get back to the global scenario

In [18]:
print("Number of cases reported till now in India: {}".format(len(df[df['Country']=='India'])))

Number of cases reported till now in India: 19

In [0]:
df['Last Update']=df['Last Update'].apply(pd.to_datetime)
df.drop(['Sno'],axis=1,inplace=True)

In [23]:
df.head(5)

                  Date Province/State Country  ... Confirmed  Deaths  Recovered
0  01/22/2020 12:00:00          Anhui   China  ...       1.0     0.0        0.0
1  01/22/2020 12:00:00        Beijing   China  ...      14.0     0.0        0.0
2  01/22/2020 12:00:00      Chongqing   China  ...       6.0     0.0        0.0
3  01/22/2020 12:00:00         Fujian   China  ...       1.0     0.0        0.0
4  01/22/2020 12:00:00          Gansu   China  ...       0.0     0.0        0.0

[5 rows x 7 columns]

In [22]:
df.groupby(['Country'])['Confirmed'].sum().sort_values(ascending = False)[:16]

Country
Mainland China    772951.0
Others              2161.0
Singapore            797.0
Hong Kong            681.0
Japan                591.0
Thailand             581.0
China                549.0
South Korea          444.0
Taiwan               320.0
Malaysia             303.0
Australia            284.0
Germany              252.0
US                   250.0
Vietnam              225.0
Macau                209.0
France               186.0
Name: Confirmed, dtype: float64

**The outbreak has severely effected the regions of China and Mainland China Provinces**

In [24]:
df.groupby(['Country'])['Recovered'].sum().sort_values(ascending = False)[:5]

Country
Mainland China    75440.0
Thailand            176.0
Singapore           122.0
Japan                91.0
Australia            70.0
Name: Recovered, dtype: float64

In [26]:
df.groupby(['Country'])['Deaths'].sum().sort_values(ascending = False)[:5]

Country
Mainland China    17908.0
Philippines          17.0
Hong Kong            14.0
Japan                 5.0
France                3.0
Name: Deaths, dtype: float64

In [0]:
data_30 = df[df['Last Update'] > pd.Timestamp(date(2020,1,30))]

In [28]:
data_30.head()

                    Date Province/State  ... Deaths Recovered
375  01/30/2020 21:30:00          Hubei  ...  204.0     116.0
376  01/30/2020 21:30:00       Zhejiang  ...    0.0       9.0
377  01/30/2020 21:30:00      Guangdong  ...    0.0      11.0
378  01/30/2020 21:30:00          Henan  ...    2.0       3.0
379  01/30/2020 21:30:00          Hunan  ...    0.0       2.0

[5 rows x 7 columns]

In [29]:
print('Globally Confirmed Cases: ',data_30['Confirmed'].sum())
print('Global Deaths: ',data_30['Deaths'].sum())
print('Globally Recovered Cases: ',data_30['Recovered'].sum())

Globally Confirmed Cases:  746297.0
Global Deaths:  17065.0
Globally Recovered Cases:  75546.0

In [33]:
China=df[df.Country=='Mainland China']
print(China.groupby(['Province/State'])['Confirmed'].sum().sort_values(ascending=False)[:10])

Province/State
Hubei        589477.0
Guangdong     20058.0
Zhejiang      19582.0
Henan         18148.0
Hunan         15343.0
Anhui         13621.0
Jiangxi       13055.0
Chongqing      8702.0
Jiangsu        8602.0
Shandong       7932.0
Name: Confirmed, dtype: float64

In [38]:
state_wise = China.groupby('Province/State')['Confirmed','Deaths','Recovered'].sum().reset_index()
fig = go.Figure(data=[
    go.Bar(name='Confirmed', x=state_wise['Province/State'], y=state_wise['Confirmed']),
    go.Bar(name='Deaths', x=state_wise['Province/State'], y=state_wise['Deaths']),
    go.Bar(name='Recovered', x=state_wise['Province/State'], y=state_wise['Recovered']),
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.show()

**The most effected state of China is Hubei whose capital is Wuhan city-the epicentre of Corona Virus**